.calendar{
    width: 60% !important;
    @media(max-width: 700px){
        width: 100% !important;
    }
    :global(.ant-picker-cell-inner){
        position: unset !important;
    }
}

.events_not_active {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.1;
    left: 0;
}

.event_active{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: green;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.1;
    left: 0;
}

.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.li{
    font-weight: 900;
}

.calendarWrapper{
    align-items: center;
}

.dropdownItem{
    display: flex;
    align-items: center;
    gap: 0.3em;
    flex-wrap: wrap;
    text-wrap: wrap;
    word-wrap: break-word;
}

.dropdownItem h3{
    margin: 0;
}