.conf{
    color: blue;
    text-align: center;
}

.conf:visited{
    color: lightblue;
}

.status{
    width: 100%;
}

:global(.ant-table-cell){
    text-align: center;
}

.danger{
    background-color: lightcoral;
}