.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    :global(.recharts-text){
        font-size: 1rem !important;
    }
    :global(.recharts-cartesian-axis-tick-value){
        width: fit-content !important;
    }
}

.chart{
    display: flex;
    flex-direction: column;
    align-items: center;
}