.header{
    background-color: inherit;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    min-width: 65rem;
}

.contacts_holder{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1em;
}

.contacts_holder a{
    display: flex;
    align-items: center;
}

.phone_number{
    font-size: 30px;
    margin-inline-start: 0.2em;
}

.authorization_buttons{
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons{
    font-size: 35px;
    width: 35px;
}

.icons:hover{
    color: gray;
}


@media(max-width: 870px){
    .header{
        max-width: 55rem;
        min-width: 45rem;
    }
    .icons{
        width: 30px;
    }
    .icons:hover{
        background-color: gray;
    }
    .phone_number{
        font-size: medium;
    }
}

@media(max-width: 715px){
    .icons{
        width: 20px;
    }
    .logo{
        height: 100px;
        width: 100px;
        flex-shrink: 0;
    }
    .header{
        max-width: 100%;
        min-width: auto;
        padding: 0;
        align-items: center;
        padding-top: 20px;
        gap: 15px
    }
    .phone_number{
        display: none;
    }
    .authorization_buttons{
        flex-wrap: wrap;
        margin-left: auto;
    }
    .button{
        width: 120px;
    }
}